body{
    margin: 0;
}
.flexible_container{
    display: flex;
    margin-bottom: 5%;
}
.half_width{
    width: 40%;
    padding-left: 9%;
    position: relative;
}
.half_width img{
    width: 70%;
}
.half_width h1{
    font-family: 'Luxurious Roman', cursive;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}
.head_1{
    margin-top: 23%;
    margin-left: 3%;
}
.head_2{
    color: tomato;
    margin-left: 3%;
}
.pera_1{
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5%;
    margin-left: 3%;
}
.button_link{
    text-decoration: none;
    background-color: tomato;
    padding: 12px;
    font-size: 18px;
    color: #fff;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    margin-left: 3%;
}
.pera_2{
    margin-top: 40px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin-left: 3%;
}
.line{
    width: 5PX;
    background-color: tomato;
    height: 159px;
    position: absolute;
    top: 28%;
    border-radius: 20px;
}
.main{
    margin-top: 5%;
    margin-bottom: 4%;
}
.main h1{
    text-align: center;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}
.one_third{
    width: 25%;
    height: 430px;
    border-radius: 40px;
    margin-left: 6%;
}
.mission{
    background-color: #EDF5F6;
}
.vission{
    background-color: #FFEEEE;
}
.goal{
    background-color: #FFF4D6;
}
.tomato{
    color: tomato;
}
.one_third img{
    width: 45%;
}
.main_head{
    font-size: 25px;
    margin-left: 7%;
    font-family: 'Poppins', sans-serif;
}
.pera_3{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    margin-left: 7%;
}
.faulty_head{
    margin-top: 40px;
}
.pic_radius img{
    width: 80%;
    border-radius: 40px;
}
.head-3{
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
}
.pera_4{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
    margin-bottom: 50px;
}
.link{
    margin-left: 0px;
}
.shapes{
    background-image: url(images/shapes/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.extra img{
    width: 90%;
    border-radius: 40px;
}
.html_main{
    width: 80%;
    height: 5px;
    background-color: grey;
}
.html{
    width: 80%;
    height: 5px;
    background-color: #FFBF21;
}
.css{
    width: 70%;
    height: 5px;
    background-color: #FFBF21;
}
.bots{
    width: 60%;
    height: 5px;
    background-color: #FFBF21;
}
.js{
    width: 50%;
    height: 5px;
    background-color: #FFBF21;
}
.head_4{
    font-family: 'Luxurious Roman', cursive;
    font-family: 'Poppins', sans-serif;
}
footer{
    text-align: center;
    background-color: #0B0D17;
    color: #fff;
    height: 250px;
}
.head_footer{
    font-size: 30px;
    padding-top: 50px;
    font-family: 'Luxurious Roman', cursive;
    font-family: 'Poppins', sans-serif;
}
.pera_footer{
    font-family: 'Roboto', sans-serif;
}